
body{


font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}




.div54{
box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
background-image: url(bgpic4.jpg);
}
.div54 > *{


}


.div54 > * {	

height: 1245px;



}

h1{
font-weight: normal;
font-size: 35px;
position: relative;
margin: 40px 0;
color: white;
}
h1::before{
	content: '';
	position: absolute;
	width: 100px;
	height: 3px;
	background-color: crimson;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	animation: animate 4s linear infinite;
}
@keyframes animate {
	0{
		width: 100px;
	}
	50%{
		width: 200px;
	}
	100%{
		width: 100px;
	}
}

.image img {
  max-width: 100%;
  margin-right: 0;
 align-items: center;
 
 
 }

.h2 h2 {
	text-align: center;
	font-size: 2em;
	font-family: New Rocker;
	color: #68228B;
	
}
.div49 p {
	text-align: center;
	font-size: 1.6em;
	font-family: Arial Verdana Helvetica;
	color: #68228B;
	
}

.div02 h3 {
	
text-align: center;
	font-size: 2em;
	font-family: New Rocker;
	color: #68228B;	
	
}
.p h4 {
	text-align: center;
	font-size: 2em;
	font-family: New Rocker;
	color: #68228B;	
	
}
.Btn {
	background-color: #68228B;
	border: 1px;
	border-radius: 2px 3px;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	
	font-size: 16px;
	margin: 1px 1px;
	cursor: pointer;
}

}


